@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Barlow', sans-serif;
  --green: #9EBC9E;
  --purple: #AEADF0;
  --blue: #38465f;
  --rosy-brown: #C38D94;
  --orange: #DC493A;
  --task-item-clr: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  padding: 20px;
  background: rgb(93, 93, 93);
  justify-content: center;
  align-items: center;
}

.title {
  color: whitesmoke;
  padding-right: 35px;
  padding-left: 10px;
  font-size: 20px;
  vertical-align: center;
}

.search-cont {
  flex-grow: 1;
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.search-bar {
  padding: 7px 10px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 20px;
}

.search-btn {
  font-size: 16px;
  padding: 5px 10px;
  background-color: var(--blue);
  color: rgb(233, 233, 233);
  border: 2px solid var(--blue)
}

.search-btn:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: rgb(211, 211, 211);
}

.toggle-degrees {
  color: rgb(233, 233, 233);
}

.toggle-degrees:hover {
  cursor: pointer;
}

.content {
  flex-grow: 1;
  background-position: center center;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin: 0 100px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.city-name {
  font-size: 26px;
  margin-bottom: 3px;
}

.current-temp {
  font-size: 34px;
}

.condition-text {
  font-size: 20px;
}

.current-high-and-low {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.current-high {
  margin-right: 5px;
  font-size: 17px;
}

.current-low {
  margin-left: 5px;
  font-size: 17px;
}

.hourly-container {
  margin: 0 100px;
  overflow-x: auto;
  display: flex;
  /* border-bottom: 1px solid grey; */
}

.hour-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  padding: 12px 8px;
  padding-bottom: 20px;
}


.day-element {
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr 150px;
  
}

.day-element img {
  justify-self: center;
}

.daily-high-low-cont {
  justify-self: start;
  display: grid;
  grid-template-columns: 70px 1fr;
  justify-content: end;
  gap: 14px;
}

.lower-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 100px;
  grid-gap: 10px;
}

.lower-content > * {
  border: 1px solid grey;
  border-radius: 5px;
}

.daily-title {
  font-weight: 600;
}

.daily-section {
  grid-column: 1/3;
  border: 1px solid grey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.day-element img {
  width: 50px;
  height: 50px;
}

.feels-like-cont, .wind-cont, .humidity-cont, .precip-cont {
  padding: 10px;
}

.feels-like-title,
.wind-title,
.humidity-title,
.precip-title {
  font-weight: 600;
}

.feels-like, .wind, .humidity, .precip {
  font-size: 14px;
}

@media (min-width: 1000px) {
  .lower-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .daily-section {
    grid-row: 1/3;
  }

}